body {
    background-image: url(bg.JPG);
    font-family: 'Nunito', sans-serif;
}

h1 {
    color: blue;
    text-align: center;
}

.friend {
    background-color: orange;
    text-align: center;
    font-family: monospace;
}

h3 {
    text-transform: uppercase;
}

.container {
    text-align: center;  
    border: none;
    display: flex;
    justify-content: center;  
}

button {
    width: 200px;
    height: 50px;
    font-size: 35px;
    border-width: 5px;
    color: aquamarine;
    background-color: indigo;
}